{
    // (A) your pushbullet access token:
    "access_token": "abcd123456789ABCDEFG",

    // (B) or, infisical values:
    "infisical": {
        // NOTE: if your workspace's E2EE setting is on, you should provide your `api_key` here:
        "e2ee": true,
        "api_key": "ak.1234567890.abcdefghijk",

        // other infisical settings for your secret:
        "workspace_id": "012345abcdefg",
        "token": "st.xyzwabcd.0987654321.abcdefghijklmnop",
        "environment": "dev",
        "secret_type": "shared",
        "key_path": "/path/to/your/KEY_TO_ACCESS_TOKEN",
    },
}
